<footer class="footer">
  <small>
    the yama appli by
    <a href="https://twitter.com/tnsb2g8n"> yuyanakano </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "アプリ概要",   about_path %></li>
    </ul>
  </nav>
</footer>